In [2]:
import pandas as pd 
import os
desktop_path = os.path.expanduser("~/Desktop")

playlist_file = os.path.join(desktop_path, "spotify_dataset.csv")
song_attr_file = os.path.join(desktop_path, "Spotify_Song_Attributes.csv")

playlist_df = pd.read_csv(playlist_file, on_bad_lines='skip')
song_attr_df = pd.read_csv(song_attr_file)

playlist_df.describe()

,user_id,"""artistname""","""trackname""","""playlistname"""
count,12891680,12858108,12891592,12890434
unique,15918,289820,2032043,157504
top,4398de6902abde3351347b048fcdc287,Daft Punk,Intro,Starred
freq,295275,36086,6676,1337085

In [3]:
#fixing column names (removing spaces, quotes, uppercases)
playlist_df.columns = (
    playlist_df.columns
    .str.replace('"', '') 
    .str.strip()         
    .str.lower()   
)
print(playlist_df.columns.tolist())

['user_id', 'artistname', 'trackname', 'playlistname']

In [4]:
#cleaning the dataset (removing nulls and duplicates)
new_playlist_df = playlist_df.dropna(subset=['artistname', 'trackname']).copy()

new_playlist_df['artistname'] = new_playlist_df['artistname'].str.strip()
new_playlist_df['trackname'] = new_playlist_df['trackname'].str.strip()

new_playlist_df = new_playlist_df.drop_duplicates(subset=['artistname', 'trackname'])
new_playlist_df = new_playlist_df.reset_index(drop=True)

print(new_playlist_df.describe())

                                 user_id       artistname trackname  \
count                            2790680          2790680   2790680
unique                             14062           289778   2005143
top     4398de6902abde3351347b048fcdc287  Various Artists     Intro
freq                              138074             6780      1589

       playlistname
count       2789536
unique        92871
top         Starred
freq         194353

In [5]:
new_playlist_df.shape

(2790680, 4)

In [6]:
desktop_path = os.path.expanduser("~/Desktop")

filename = "cleaned_spotify_playlists.csv"

new_playlist_df.to_csv(os.path.join(desktop_path, filename), index=False)